.mortal-kombat {

    &-modal {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 17px;
        transform: scale(1.09);
        opacity: 0;
        z-index: -1;
        backdrop-filter: blur(12px);
        // transition: opacity .5s, z-index .5s, transform .3s;
        transition: 0.3s cubic-bezier(0.17, 0.89, 0.32, 1.28);
        background-color: rgba(255, 255, 255, 0.5);

        &.active {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
            transition: 0.3s cubic-bezier(0.17, 0.89, 0.32, 1.28);
        }

        &__character {

            &_body {
                width: 455px;
                height: 675px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            &_content {
                display: flex;
                flex-direction: column;
                gap: .9em;
                width: 35%;
            }

            &_purpose {
                text-transform: uppercase;
                letter-spacing: .45em;
                font-weight: 555;
                color: rgb(177, 1, 1);
            }

            &_name {
                text-transform: uppercase;
                font-size: 3.7em;
                letter-spacing: 2.7px;
            }

            &_title {
                text-transform: capitalize;
                font-size: 1.7em;
            }

            &_description {
                text-align: justify;
                letter-spacing: .9px;
                font-weight: 455;
                line-height: 23px;
            }
        }

        &__close {
            cursor: pointer;
            position: absolute;
            right: 1%;
            top: 1%;
        }
    }
}

.mortal-kombat-roster {
    position: relative;
    background-image: url('../media/jpg/background/main.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3em 0;

    &__heading {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.3em;
        letter-spacing: 1.5px;
        padding: 17px 9px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1601px;
        margin: 0 auto;
    }

    &__item {
        pointer-events: none;
        overflow: hidden;
        margin: 5px;
        opacity: .5;
        border-radius: 5px;
        transform: scale3d(.95, .95, 1);
        transition: transform .3s;

        &.active {
            pointer-events: auto;
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }

    &__character {
        cursor: pointer;
        position: relative;
        width: 145px;
        height: 195px;
        border-radius: 5px;
        // background-image: radial-gradient(ellipse at center, rgb(31, 41, 57) 0, rgb(7, 7, 7) 100%);
        background-image: linear-gradient(180deg, rgb(177, 191, 215), rgb(119, 119, 119));

        &:hover {
            .mortal-kombat-roster__character_image {
                transform: scale(1.1);
            }

            .mortal-kombat-roster__character_smoke_image {
                opacity: 0;
            }

            .mortal-kombat-roster__character_smoke_video {
                opacity: .9;
            }

            .mortal-kombat-roster__character_name {
                bottom: 7%;

                &::before {
                    left: -12%;
                    transition-delay: .1s;
                }

                &::after {
                    right: -12%;
                    transition-delay: .1s;
                }
            }
        }

        &_image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: transform .7s;
            border-radius: 5px;
            // when image scale reflow image fix with => will-change: transform
            will-change: transform;
        }

        &_name,
        &_smoke_image,
        &_smoke_video {
            position: absolute;
        }

        &_name {
            left: 50%;
            bottom: -15%;
            width: 73%;
            padding: 5px;
            text-align: center;
            font-size: .61em;
            z-index: 7;
            white-space: nowrap;
            text-transform: uppercase;
            transform: translateX(-50%);
            transition: bottom .5s;
            color: rgb(255, 255, 255);
            background-color: rgb(53, 53, 53);

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 12%;
                height: 100%;
                transition: left .3s, right .3s;
                background-color: rgb(53, 53, 53);
            }

            &::before {
                left: -100%;
                transition-delay: .3s;
                clip-path: polygon(100% 0, 0 50%, 100% 100%);
            }

            &::after {
                right: -100%;
                transition-delay: .3s;
                clip-path: polygon(100% 50%, 0 0, 0 100%);
            }
        }

        &_smoke_image {
            will-change: opacity;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            opacity: .7;
            transition: opacity .3s;
        }

        &_smoke_video {
            mix-blend-mode: screen;
            object-fit: cover;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            z-index: 1;
            opacity: 0;
            transition: opacity .5s;
        }
    }

    &_filter_tab_menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 12px 0;

        &__item {
            transform: skew(-21deg);
            transition: background-color .3s;
            background-color: rgb(255, 255, 255);

            &.active {
                background-color: rgb(39, 39, 39);

                &:hover {
                    background-color: rgb(39, 39, 39);
                }

                .mortal-kombat-roster_filter_tab_menu__title {
                    color: rgb(255, 255, 255);
                }
            }

            &:hover {
                background-color: rgb(177, 1, 1);

                .mortal-kombat-roster_filter_tab_menu__title {
                    color: rgb(255, 255, 255);
                }

                .mortal-kombat-roster__character_smoke_video {
                    opacity: .9;
                }
            }
        }

        &__title {
            position: relative;
            cursor: pointer;
            padding: 12px 35px;
            text-transform: uppercase;
            font-size: .9em;
            font-weight: 655;
            letter-spacing: 1.7px;
            z-index: 3;
            transform: skew(21deg);
            transition: color .3s;
            text-shadow: 0 0 5px rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
    }
}